#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 ;
  text-align: center;
}


/* .logo{
  width: 45px;
  aspect-ratio: 1;
  background-image: url(../public/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */