#root {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}


/* .logo{
  width: 45px;
  aspect-ratio: 1;
  background-image: url(../public/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */