#root {
  text-align: center;
}


/* .logo{
  width: 45px;
  aspect-ratio: 1;
  background-image: url(../public/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */