.edition-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

h2 {
    width: 100%;
    padding: 35px 25px;
    display: flex;
    align-items: center;
}

.breadcrum {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.breadcrum-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(153, 153, 153);
    padding: 6px 18px;
    border-radius: 18px;
    transition: all .2s;
}

.breadcrum-element span {
    background-color: #2563ed;
    color: #ffffff;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    transition: all .2s;

}

.active-element {
    background-color: #2563ed;
    color: #ffffff;
    font-weight: 700;
    transition: all .2s;

}

.active-element span {
    display: unset;
    width: unset;
    padding: 0;
    background-color: none;
    transition: all .2s;

}