.landing{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.landing-header{
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px #18181880;
}

.header-button{
    font-size: 1em;
    font-weight: 600;
    width: max-content;
}

.landing-header-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: max-content;
}   

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.logo-container > img{
    width: 35px;
    aspect-ratio: 1;
}

.logo-container > h2{
    font-size: 1.1em;
}

@media (prefers-color-scheme: light) {
   .landing-header {
    box-shadow: 2px 2px 10px #18181821;
  }

}
